<footer class='footer'>
    <div class='wrapper'>
        <div class='footer-logo'>
            <img
                width='250'
                height='155'
                src='img/logoHotel.png'
                class='attachment-full size-full'
                alt
                decoding='async'
                loading='lazy'
            />
        </div>

        <div class='grid-x grid-margin-x'>
            <div class='cell auto'>
                <div class='grid-x grid-margin-x' style='justify-content: center;'>
                    <div class='cell shrink footer-widget'>
                        <h2 class='footer-widget-title'>{{adr}}</h2>
                        <div class='textwidget'>
                            <address>136 Phạm Văn Đồng, An Hải Bắc, Sơn Trà, Đà Nẵng
                            </address>
                            <p>T: 0236.387.28.28<br />
                                E:
                                <a href='mailto:'>info@luxteryhotel.com</a>
                            </p>
                        </div>
                    </div>
                    <div class='cell shrink footer-widget'>
                        <h2 class='footer-widget-title'>{{our_guest}}</h2>
                        <nav class='menu-for-our-guests-container' aria-label='For Our Guests'>
                            <ul id='menu-for-our-guests' class='menu'>
                                <li
                                    id='menu-item-167'
                                    class='menu-item menu-item-type-post_type menu-item-object-page menu-item-167'
                                >
                                    <a href='/room'>{{our_room}}</a></li>
                                <li
                                    id='menu-item-725'
                                    class='menu-item menu-item-type-post_type menu-item-object-page menu-item-725'
                                >
                                    <a href='/dining'>{{food}}</a></li>
                                <li
                                    id='menu-item-169'
                                    class='menu-item menu-item-type-post_type menu-item-object-page menu-item-169'
                                >
                                    <a href='/event'>{{event}}</a></li>
                                <li
                                    id='menu-item-175'
                                    class='menu-item menu-item-type-post_type menu-item-object-page menu-item-175'
                                >
                                    <a href='/facilities-services'>{{facilities}}</a></li>
                                <li
                                    id='menu-item-168'
                                    class='menu-item menu-item-type-post_type menu-item-object-page menu-item-168'
                                >
                                    <a href='/reviews'>{{review}}</a></li>
                                <li
                                    id='menu-item-170'
                                    class='menu-item menu-item-type-post_type menu-item-object-page menu-item-170'
                                >
                                    <a href='/contact'>{{contact_footer}}</a></li>

                            </ul>
                        </nav>
                    </div>
                    {{! <div class="cell shrink footer-widget">
                        <h2 class="footer-widget-title">Về chúng tôi/h2>
                            <nav class="menu-about-us-container" aria-label="About Us">
                                <ul id="menu-about-us" class="menu">
                                    <li id="menu-item-249"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-249">
                                        <a href="https://www.twomr.com.hk/careers/">Careers</a></li>
                                    <li id="menu-item-250"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-250">
                                        <a href="https://www.twomr.com.hk/mediacentre/">Media Centre</a></li>
                                    <li id="menu-item-251"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-251">
                                        <a target="_blank" rel="noopener" href="https://lansonplace.com/">Lanson
                                            Place</a></li>
                                </ul>
                            </nav>
                    </div>
                    <div class="cell shrink footer-widget"
                        style="text-align: center;justify-content: center">
                        <p>Sign up for the latest news, travel inspirations and exclusive offers.</p>
                        <button class="button wp-block-button__link" data-open="reveal-newsletter">
                            STAY CONNECTED</button>
                    </div> }}
                </div>
            </div>

            {{! <div class='reveal' id='reveal-newsletter' data-reveal='newsletter'>

                <h2>Subscribe to our newsletter</h2>
                <div class='wp-block-contact-form-7-contact-form-selector'>
                    <form id='newsletter-signup' method='POST' class='form-group' autocomplete='off'>
                        <input id='formId' type='hidden' value='11697D90-00E2-4026-B695-577171E2C27B' />
                        <div class='is-text' style='margin-top: 1rem;'>
                            <label for='newsletter_title'>Title</label>
                            <select id='newsletter_title'>
                                <option value='Mr'>Mr.</option>
                                <option value='Mrs'>Mrs.</option>
                                <option value='Miss'>Miss.</option>
                                <option value='Ms'>Ms.</option>
                            </select>
                        </div>
                        <div class='is-text' style='margin-top: 1rem'>
                            <label for='newsletter_firstname'>First Name</label>
                            <input
                                id='newsletter_firstname'
                                type='text'
                                required
                                placeholder='Your first name'
                                autocomplete='off'
                            />
                        </div>
                        <div class='is-text' style='margin-top: 1rem;'>
                            <label for='newsletter_lastname'>Last Name</label>
                            <input
                                id='newsletter_lastname'
                                type='text'
                                required
                                placeholder='Your last name'
                                autocomplete='off'
                            />
                        </div>
                        <div class='is-email' style='margin-top: 1rem;margin-bottom: 2rem;'>
                            <label for='newsletter_email'>Email</label>
                            <input
                                id='newsletter_email'
                                type='email'
                                required
                                placeholder='example@company.com'
                                autocomplete='off'
                            />
                        </div>

                        <button id='submit' type='submit'>Subscribe</button>
                        <input id="submit" type="button" value=Subscribe />
                    </form>
                </div>
                <script type='text/javascript' src='javascript/jquery-1.12.3.js'></script>
                <script type='text/javascript'>
                    $(document).ready(function () { $("#submit").click(function (e) { e.preventDefault(); var email =
                    document.getElementById("newsletter_email").value; var firstName =
                    document.getElementById("newsletter_firstname").value; var lastName =
                    document.getElementById("newsletter_lastname").value; var salutation =
                    document.getElementById("newsletter_title").value; var data = { PostData: { formId:
                    document.getElementById('formId').value, emailAddress: email, salutation: salutation, firstName:
                    firstName, lastName: lastName } }; $.ajax({ type: "POST", url:
                    "https://web2.cendynhub.com/FormsRest/submit/11697D90-00E2-4026-B695-577171E2C27B?format=json",
                    contentType: "application/json", crossDomain: true, dataType: "json", data: JSON.stringify(data)
                    }).done(function (result) { if (result.Message !== 'Failure') {
                    document.getElementById('newsletter-signup').style.display = 'none'
                    document.getElementById('success').style.display = 'block' } else {
                    document.getElementById('newsletter-signup').style.display = 'none'
                    document.getElementById('failed').style.display = 'block' } }).fail(function (XMLHttpRequest,
                    textStatus, errorThrown) { console.log(XMLHttpRequest.toString()); alert("Request: " +
                    XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown); }); }); });
                </script>
            </div> }}

            {{! <button class='close-button' data-close type='button'>
                    <span class='screen-reader-text'>Close modal</span>
                </button> }}
        </div>

        <div class='grid-x grid-margin-x footer-misc'>

            <div class='cell large-shrink slot-sns'>

                <ul id='menu-sns' class='menu menu-sns'>
                    <li
                        id='menu-item-180'
                        class='menu-item menu-item-type-custom menu-item-object-custom menu-item-180'
                    ><a href='https://www.facebook.com/luxteryhotel/'><span
                                class='icon-social-facebook'
                                aria-hidden='true'
                            ></span><span class='screen-reader-text'>Facebook</span></a>
                    </li>
                    {{! <li id="menu-item-181"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-181"><a
                                    href="https://www.instagram.com/twomacdonnellroad/"><span
                                        class="icon-social-instagram" aria-hidden="true"></span><span
                                        class="screen-reader-text">Instagram</span></a></li>
                            <li id="menu-item-182"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-182"><a
                                    href="https://www.linkedin.com/company/lanson-place-hotels-serviced-residences"><span
                                        class="icon-social-linkedin" aria-hidden="true"></span><span
                                        class="screen-reader-text">LinkedIn</span></a></li>
                            <li id="menu-item-183"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-183"><a
                                    target="_blank" href="https://lansonplace.com/wechat/#TRPLINKPROCESSED"><span
                                        class="icon-social-wechat" aria-hidden="true"></span><span
                                        class="screen-reader-text">WeChat</span></a></li>
                            <li id="menu-item-933"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-933"><a
                                    target="_blank" href="https://weibo.com/u/7590571337"><span
                                        class="icon-social-weibo" aria-hidden="true"></span><span
                                        class="screen-reader-text">Weibo</span></a></li> }}
                </ul>
            </div>

            <div class='cell large-auto slot-legal'>

                <p>Copyright © 2017 Luxtery Hotel - All Rights Reserved.</p>

                {{! <ul id="menu-footer" class="menu menu-footer">
                            <li id="menu-item-186"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-186"><a
                                    href="https://www.twomr.com.hk/sitemap/">Sitemap</a></li>
                            <li id="menu-item-187"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-187"><a
                                    target="_blank" href="https://lansonplace.com/cookie-policy/">Cookie Policy</a></li>
                            <li id="menu-item-188"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-188"><a
                                    target="_blank" href="https://lansonplace.com/privacy-policy/">Privacy Policy</a>
                            </li>
                            <li id="menu-item-189"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-189"><a
                                    target="_blank" href="https://lansonplace.com/disclaimer/">Terms of Use</a></li>
                            <li id="menu-item-190"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-190"><a
                                    target="_blank" href="https://lansonplace.com/colophon/">Colophon</a></li>
                        </ul> }}
            </div>

        </div>

    </div>
</footer>